#baabtralogo
         	{
         		width:150%;
         	}
         	#header
         	{
         		
         		margin-top: -8px;
         		width:100px;
         		margin-left:-7px;
         		height:80px;
         	}
         	#body
         	{
         		background-color: rgb(30,75,102);
         		height: 96%;
         		margin-top: -9px;
         		margin-left: -8px;
         		width: 1350px;
         	}
         	p{
         		margin-top: 100px;
         		position: absolute;
         		margin-left: 227px;
         		color: white;
         		font-family: cursive;
         	}
         	.heading1
         	{
         		color: white;
         		padding-left: 50px;        		
         		padding-top: 100px;
         	}
         	#button1
         	{
         		width: 90%;
         		
         		margin-top: 10px;
         		margin-left: 227px;
         		border-radius: 9px;
               }
            #button2
            {
               width: 10%;
               
               margin-top: -40px;
               margin-left: 427px;
               border-radius: 9px;

            }
            .button3
            {
               width: 15%;
               position: absolute;
               margin-top: 25px;
               margin-left: 123px;
               border-radius: 9px;
            }
            #inputs
            {
               width: 184px;
               
               margin-top: -50px;  
               position: absolute; 
               padding-left: 800px;       
            }
            input
            {
               border-radius: 7px;
               width: 220px;
               height: 35px;
            }

            ul
            {
               list-style-type:none;
               display: inline-flex;
            }
               li
            {
               width:130px;
            }
            #menues
            {
               margin-top: -10px;
               margin-left: 130px;
            }
